.car-detail-container {
  padding: 20px;
  background-color: #333; /* 다크 네이비 */
  color: #ccc; /* 회색 */
}

.car-carousel {
  margin-bottom: 20px;
}

.car-detail-card {
  background-color: #333; /* 다크 네이비 */
  border: 1px solid #ccc; /* 회색 */
  color: #ccc; /* 회색 */
}

.table {
  color: #ccc; /* 회색 */
}

.table td,
.table th {
  border-color: #ccc; /* 회색 */
}
