.navbar {
  background-color: rgba(51, 51, 51, 0.8); /* 다크 네이비 투명도 0.8 */
  border-bottom: 2px solid rgba(204, 204, 204, 0.8); /* 회색 투명도 0.8 */
}

.navbar-brand,
.nav-link {
  color: #fff !important; /* 화이트 */
}

.nav-link:hover {
  color: #ff6347 !important; /* 오렌지 색상으로 호버 효과 */
}

.navbar-toggler {
  border-color: rgba(204, 204, 204, 0.8); /* 투명도 있는 회색 */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
